body {
		width: 100%;
}

img {
    padding-right: 10px;
}

ul {
    list-style-type: none;
    li {
        display: block;
    }
}

h1 {
  color: green;
  text-transform: uppercase;
	font-family: Calibri;
}