<div class="race-selector-lister">
  <div class="scroll-up">
    <button ng-click="scrollUp()">&#x25B2;</button>
  </div>
  <div class="scroll-down">
    <button ng-click="scrollDown()">&#x25BC;</button>
  </div>
</div>
<div class="race-selector">
  <ul>
    <li ng-repeat="species in races">
      <div class="round" ng-class='{"bordered":species.name == currentRace.name}'><img ng-src="images/{{species.name}}.jpg" ng-click="chooseRace(species.id)"></div>
    </li>
  </ul>
</div>
<div class="race-window">
<h1>{{currentRace.name}}</h1>
<p>{{currentRace.desc}}</p>
</div>
<div class="new-game">
<h2><a href="#/new-game/{{currentRace.name}}">Begin New Game</a></h2>
</div>
